# CAP kpi
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/
core
# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log
*.zip

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
resources/uilms.zip
app/lms/dist/uilms.zip